nav {
  height: 5rem;
  display: flex;
  align-items: center;
  position: sticky;
  margin-left: 1rem;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 2rem;
  &:hover {
    font-weight: bold;
  }
}

h3 {
  margin-left: 1rem;
  font-size: 2rem;
}
